<div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">


     <p>Déposer des fichiers</p>

    <button type="button" mat-raised-button color="primary"(click)="fileInput.click()">Sélectionnez des fichiers</button>
      <input hidden #fileInput type="file"
      multiple="multiple"
      (change)="selectMultiplePictures($event.target.files)"
      >

</div>

<div *ngFor="let file of files">
  <app-upload-task [file]="file"></app-upload-task>
</div>