<div class="fixed-wrapper">
      <!-- Logo and refresh-->
  <mat-toolbar>
    <div id="brand">
      <a routerLink="" (click)="homePressed.emit()">
        <span>Amazing Pictures</span>
      </a>
      <a mat-icon-button routerLink="" id="refresh" (click)="homePressed.emit()">
        <mat-icon>refresh</mat-icon>
      </a>
    </div>
        <!-- Search bar-->
    <div id="search">
      <app-search-box [homePressed]="homePressed"></app-search-box>
    </div>
    <!-- button profile and add pictures-->
    <div class="align-right">
      <button *ngIf="accountService.user" mat-raised-button color="primary" id="upload-picture" (click)="selectPicture()">
        <mat-icon>add_photo_alternate</mat-icon> Une image
      </button>
      <a *ngIf="accountService.user" class="button" mat-raised-button color="primary" id="upload-mutiple-picture" routerLink="multiple-upload">
        <mat-icon>playlist_add</mat-icon> Plusieurs images
      </a>
      <input #pictureInput id="picture-input" type="file" aria-label="Upload a profile picture"
             accept="image/png, image/jpeg" (change)="uploadPicture($event)">
      <button *ngIf="accountService.user !== undefined && !accountService.user" mat-stroked-button color="primary"
              (click)="accountService.openSingInDialog()" id="sing-in">
      <span class="center-vertically">
        <mat-icon>account_circle</mat-icon><span>SIGN IN</span>
      </span>
      </button>
      <div id="picture-wrapper" *ngIf="accountService.user" [mat-menu-trigger-for]="accountMenu">
        <img appFillParent class="profile-picture"
             [src]="accountService.user.photoURL || defaultProfilePictureUrl" alt="profile-picture">
      </div>
      <mat-menu #accountMenu>
        <a mat-menu-item [routerLink]="'profile/' + accountService.user?.uid">Profile</a>
        <button mat-menu-item (click)="accountService.signOut()">Sign out</button>
      </mat-menu>
      <div *ngIf="accountService.user === undefined" id="profile-picture-placeholder"></div>
    </div>
  </mat-toolbar>
  <mat-progress-bar *ngIf="progressBar.show" [mode]="progressBar.mode" [value]="progressBar.value"></mat-progress-bar>
</div>
